<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Python Text</title>
</head>
<body>
    <div class="container mt-3">
        <h1>ตัวอย่างการแสดงผลจาก DataType Dictionary หรือ JSON</h1>
        {{data}}
        <hr>
        {% for k, value in data.items() %}
            Number: {{k}} Data: {{value}} <br>
        {% endfor %}
    </div>
</body>
</html>